.user-container {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  width: 100%;
}

.user-welcome-h1 {
  font-family: Solway;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 41px;
  letter-spacing: -0.02em;
  color: #4d4d4d;
  margin-top: 37px;
  margin-bottom: 50px;
}

.user-p {
  font-size: 18px;
  color: #4d4d4d;
  font-family: "Rubik";
}

.user-info-col {
  display: flex;
  flex-direction: column;
  padding-left: 4%;
}

.card-div {
  padding-top: 10px;
}

.user-practice-btn {
  background-color: #f2b84b;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  font-family: "Rubik";
  width: 440px;
  height: 214px;
  font-family: Solway;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.02em;
  text-align: center;
  margin-bottom: 20px;
}

.user-practice-btn:hover {
  background-color: #f0ac2b;
  border: none;
}

.card-mascot-div {
  display: flex;
  flex-wrap: wrap;
  max-width: 85%;
  justify-content: space-between;
}

.user-strike-h2 {
  margin-top: 50px;
  margin-bottom: 18px;
  font-family: Solway;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #4d4d4d;
}

.table-div {
  width: 500px;
}

/* mascot section */
.user-mascot-col {
  display: flex;
  flex-direction: column;
  max-width: 35%;
  background-color: palegoldenrod;
}

.user-mascot-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-mascot-img {
  width: 280px;
}

.user-change-mascot-btn {
  margin-top: 10px;
  width: 247px;
  height: 48px;
  background-color: #7c7ef2;
  border-color: #7c7ef2;
  font-family: "Rubik";
}

.user-change-mascot-btn:hover {
  background-color: #5d5fef;
  border-color: #5d5fef;
}

/* Medium screens */
@media all and (max-width: 1300px) {
  .table-div {
    width: fit-content;
  }

  .user-card {
    max-width: fit-content;
  }
}

/* Small screens */
@media all and (max-width: 500px) {
  .table-div {
    max-width: fit-content;
  }
}
