.multiple-container {
  display: flex;
  align-items: center;
  height: 800px;
  margin: 0;
  padding: 0;
  justify-content: space-around;
}

.question-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  width: 600px;
  margin: 10px;
}

.title-card {
  box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.24),
    0px 3px 8px -1px rgba(50, 50, 71, 0.05);
  border-radius: 16px;
  margin-bottom: 21px;
}

.question-description {
  font-size: 18px;
  line-height: 21px;
  color: #4d4d4d;
  margin-top: 10px;
}

.options-form {
  display: flex;
  justify-content: flex-start;
  font-size: 18px;
  line-height: 27px;
  color: #4d4d4d;
}

.option-card {
  box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.24),
    0px 3px 8px -1px rgba(50, 50, 71, 0.05);
  border-radius: 16px;
}

.quiz-btn {
  margin: 15px;
  font-size: 18px;
}

.hint-btn {
  border: none;
  background-color: #f2b84b;
  border-color: #f7ac22;
  font-family: "Rubik";
  width: 110px;
}

.hint-btn:hover {
  background-color: #f0ac2b;
  border-color: #f0ac2b;
}

.submit-btn {
  border: none;
  background-color: #7c7ef2;
  border-color: #7c7ef2;
  font-family: "Rubik";
  margin-right: 0;
  width: 135px;
  height: 48px;
}

.submit-btn:hover {
  background-color: #5d5fef;
  border-color: #5d5fef;
}

.btn-div {
  display: flex;
  justify-content: flex-end;
}

.btn-icon {
  margin-left: 4px;
  margin-bottom: 4px;
}

.quiz-mascot-img {
  width: 291px;
}

.img-col {
  margin-left: 100px;
}
