.multiple-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 800px;
  margin: 0;
  padding: 0;
  justify-content: space-around;
}

.question-row {
  margin-top: 100px;
}

.question-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  max-width: 600px;
  margin: 10px;
}

.category-h1 {
  margin-bottom: 30px;
}

.title-card {
  box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.24),
    0px 3px 8px -1px rgba(50, 50, 71, 0.05);
  border-radius: 16px;
  margin-bottom: 21px;
}

.question-description {
  font-size: 18px;
  line-height: 26px;
  color: #4d4d4d;
  margin-top: 10px;
  font-weight: 400;
  letter-spacing: -0.02em;
  text-align: left;
}

.options-form {
  display: flex;
  justify-content: flex-start;
}

.option-card {
  box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.24),
    0px 3px 8px -1px rgba(50, 50, 71, 0.05);
  border-radius: 16px;
}

.form-check-label {
  margin-left: 8px;
  font-size: 16px;
  line-height: 27px;
  color: #4d4d4d;
}

.quiz-btn {
  margin: 15px;
  font-size: 18px;
  width: 135px;
  height: 48px;
  font-family: "Rubik";
}

.hint-btn,
.hint-btn:not(:disabled) {
  background-color: #f2b84b;
  border-color: #f7ac22;
}

.hint-btn:focus,
.hint-btn:active {
  outline: none !important;
  box-shadow: none;
}

.hint-btn:hover {
  background-color: #f0ac2b;
  border-color: #f0ac2b;
}

.close-hint-btn,
.close-hint-btn:not(:disabled) {
  background-color: #ff6665;
  border-color: #ff6665;
}

.close-hint-btn:hover {
  background-color: #ff4443;
  border-color: #ff4443;
}

.close-hint-btn:focus,
.close-hint-btn:active {
  outline: none !important;
  box-shadow: none;
}

.sub-btn,
.sub-btn:not(:disabled) {
  background-color: #7c7ef2;
  border-color: #7c7ef2;
}

.sub-btn:hover {
  background-color: #5d5fef;
  border-color: #5d5fef;
}

.sub-btn:focus,
.sub-btn:active {
  outline: none !important;
  box-shadow: none;
}

.sub-btn:disabled {
  background-color: #d9d9fb !important;
  border: #d9d9fb !important;
}

.sub-btn-disabled:hover {
  background-color: #d9d9fb;
  border: #d9d9fb;
}

.expl-btn,
.expl-btn:not(:disabled) {
  width: 174px;
  height: 48px;
  background-color: #f2b84b;
  border-color: #f7ac22;
}

.expl-btn:hover {
  background-color: #f0ac2b;
  border-color: #f0ac2b;
}

.expl-btn:focus,
.expl-btn:active {
  outline: none !important;
  box-shadow: none;
}

.close-expl-btn,
.close-expl-btn:not(:disabled) {
  width: 200px;
  height: 48px;
  background-color: #ff6665;
  border-color: #ff6665;
}

.close-expl-btn:hover {
  background-color: #ff4443;
  border-color: #ff4443;
}

.close-expl-btn:focus,
.close-expl-btn:active {
  outline: none !important;
  box-shadow: none;
}

.next-btn,
.next-btn:not(:disabled) {
  width: 189px;
  height: 48px;
  background-color: #7c7ef2;
  border-color: #7c7ef2;
}

.next-btn:hover {
  background-color: #5d5fef;
  border-color: #5d5fef;
}

.next-btn:focus,
.next-btn:active {
  outline: none !important;
  box-shadow: none;
}

.btn-div {
  display: flex;
  justify-content: flex-end;
}

.btn-icon {
  margin-left: 4px;
  margin-bottom: 4px;
}

.quiz-mascot-img {
  width: 291px;
}

.img-col {
  margin-left: 100px;
  margin-top: 100px;
  position: relative;
}

.speakboble {
  position: absolute;
  z-index: 0;
  top: -134px;
  right: 141px;
}

.speakboble-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  z-index: 1;
  top: -91px;
  right: 190px;
  width: 200px;
  height: 170px;
}

.speakboble-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  top: -150px;
  right: 224px;
  width: 200px;
  height: 170px;
  font-family: Solway;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 41px;
  letter-spacing: -0.02em;
}

.explanation-div {
  max-width: 600px;
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #4d4d4d;
}

.form-control:not(active) {
  color: white;
}

.form-control:focus {
  color: black;
}

.form-check {
  display: flex;
  width: 540px;
}

.wrong-answer {
  background-color: #ff6665;
  border-radius: 6px;
}

.correct-answer {
  background-color: #64ed82;
  border-radius: 6px;
}

.form-check:hover {
  display: flex;
  background-color: #d9d9fb;
  border-radius: 6px;
  border-left: 2px;
}

.form-check-input:checked {
  background-color: #f2b84b;
  border-color: #f2b84b;
}

.form-check-input:focus {
  box-shadow: none;
}

.form-check:checked {
  background-color: #5d5fef !important;
}

fraction {
  display: inline-grid;

  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;

  font-size: 0.8em;
  vertical-align: top;
}

numer {
  border-bottom: 1px solid;
}
