.multiple-container {
  display: flex;
  align-items: center;
  height: 800px;
  margin: 0;
  padding: 0;
  justify-content: space-around;
}

.question-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  width: 600px;
  margin: 10px;
}

.title-card {
  box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.24),
    0px 3px 8px -1px rgba(50, 50, 71, 0.05);
  border-radius: 16px;
  margin-bottom: 21px;
}

.question-description {
  font-size: 18px;
  line-height: 21px;
  color: #4d4d4d;
  margin-top: 10px;
}

.options-form {
  display: flex;
  justify-content: flex-start;
  font-size: 18px;
  line-height: 27px;
  color: #4d4d4d;
}

.option-card {
  box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.24),
    0px 3px 8px -1px rgba(50, 50, 71, 0.05);
  border-radius: 16px;
}

.form-check-label {
  margin-left: 8px;
}

.quiz-btn {
  margin: 15px;
  font-size: 18px;
  width: 135px;
  height: 48px;
  font-family: "Rubik";
}

.hint-btn {
  background-color: #f2b84b;
  border-color: #f7ac22;
}

.hint-btn:hover {
  background-color: #f0ac2b;
  border-color: #f0ac2b;
}

.sub-btn {
  border: none;
  background-color: #7c7ef2;
  border-color: #7c7ef2;
}

.sub-btn:hover {
  background-color: #5d5fef;
  border-color: #5d5fef;
}

.sub-btn:disabled {
  background-color: #d9d9fb !important;
  border: #d9d9fb !important;
}

.sub-btn-disabled:hover {
  background-color: #d9d9fb;
  border: #d9d9fb;
}

.btn-div {
  display: flex;
  justify-content: flex-end;
}

.btn-icon {
  margin-left: 4px;
  margin-bottom: 4px;
}

.quiz-mascot-img {
  width: 291px;
}

.img-col {
  margin-left: 100px;
  position: relative;
}

.speakboble {
  position: absolute;
  z-index: 1;
  top: -120px;
  right: 200px;
}

.speakboble-text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  top: -80px;
  right: 250px;
  width: 200px;
  height: 170px;
}

.form-control:not(active) {
  color: white;
}

.form-control:focus {
  color: black;
}

.form-check {
  display: flex;
}

.form-check:hover {
  display: flex;
  background-color: #d9d9fb;
  border-radius: 6px;
  border-left: 2px;
  width: 540px;
}

.form-check-input:checked {
  background-color: #f2b84b;
  border-color: #f2b84b;
}

.form-check-input:focus {
  box-shadow: none;
}

.form-check:checked {
  background-color: #5d5fef !important;
}
