.table-header {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 18px !important;
  line-height: 21px;
  letter-spacing: -0.02em;
  color: #8492a6 !important;
}

.thead-light {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.02em;
  color: #27272e;
}

.body-text {
  font-size: 18px !important;
  color: #4d4d4d;
}
