.navbar-postlogin {
  background-color: #ff6665;
  height: 70px;
  cursor: default;
}

.logo-postlogin {
  width: 40px;
  margin-left: 5px;
  margin-top: 15px;
  cursor: pointer;
}

.app-name-col-postlogin {
  position: absolute;
  margin-left: 70px;
  margin-top: 23px !important;
  width: auto !important;
}

.app-name-col-postlogin {
  position: absolute;
  margin-left: 70px;
  margin-top: 23px !important;
}

.navbar-brand-postlogin {
  color: white;
  font-family: "Solway";
  font-size: 1.15rem;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.02em;
}

.postlogin-toolbar {
  margin-top: 15px;
  justify-content: end;
}

.home-btn-postlogin,
.home-btn-postlogin:not(:disabled) {
  background-color: #f2b84b;
  border-color: #f7ac22;
  font-family: "Rubik";
}

.home-btn-postlogin:hover {
  background-color: #f0ac2b;
  border-color: #f0ac2b;
}

.home-btn-postlogin:focus {
  outline: none !important;
  box-shadow: none !important;
}

.logout-btn-postlogin,
.logout-btn-postlogin:not(:disabled) {
  background-color: #7c7ef2;
  border-color: #696bf5;
  font-family: "Rubik";
  margin-left: 12px;
}

.logout-btn-postlogin:hover {
  background-color: #5d5fef;
  border-color: #5d5fef;
}
