.navbar{
    background-color: #FF6665;
    height: 70px;
}

.logo{
    width:40px;
}

.app-name-col{
    position: absolute;
    margin-left: 50px;
    margin-top: 8px;
}

.navbar-brand{ 
    color: white;
    font-family: "Rubik";
    font-size: 1.15rem !important;
}

.home-btn{
    background-color: #F2B84B !important;
    border-color: #f7ac22 !important;
    font-family: "Rubik" !important;
}

.logout-btn{
    background-color: #7C7EF2 !important;
    border-color: #696bf5 !important;
    font-family: "Rubik" !important;
    margin-left: 12px !important;
}