.navbar-postlogin{
    background-color: #FF6665;
    height: 70px;
}

.logo-postlogin{
    width: 40px;
    margin-left: 5px;
    margin-top: 15px;
}

.app-name-col-postlogin{
    position: absolute;
    margin-left: 70px;
    margin-top: 23px !important;
}

.navbar-brand-postlogin{ 
    color: white;
    font-family: "Solway";
    font-size: 1.15rem;
}

.postlogin-toolbar{
    margin-top: 15px;
    justify-content: end;
}

.home-btn-postlogin{
    background-color: #F2B84B !important;
    border-color: #f7ac22  !important;
    font-family: "Rubik" !important;
}


.home-btn-postlogin:hover{
    background-color: #F0AC2B;
    border-color: #F0AC2B;
}

.logout-btn-postlogin{
    background-color: #7C7EF2 !important;
    border-color: #696bf5 !important;
    font-family: "Rubik" !important;
    margin-left: 12px;
}

.login-btn-postlogin:hover{
    background-color: #5D5FEF;
    border-color: #5D5FEF;
}