.navbar{
    background-color: #FF6665;
    height: 70px;
    padding-left: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.logo-container{
    background-color: #5D5FEF;
    width: 70px;
    height: 70px;
}

.logo{
    width: 40px;
    margin-left: 15px;
    margin-top: 15px;
}

.app-name-col{
    position: absolute;
    margin-left: 90px;
    margin-top: 8px;
}

.navbar-brand{ 
    color: #F4C46B;
    font-family: "Solway";
    font-size: 1rem;
}

.home-btn{
    background-color: #F2B84B !important;
    border-color: #f7ac22 !important;
    font-family: "Rubik" !important;
}

.logout-btn{
    background-color: #7C7EF2 !important;
    border-color: #696bf5 !important;
    font-family: "Rubik" !important;
    margin-left: 12px !important;
}