.navbar{
    background-color: #FF6665;
    padding-left:0 !important;
    padding-top:0 !important;
    padding-bottom:0 !important;
    max-width:100% !important;
}

.logo{
    width:75px;
    height:70px;
}

.app-name-container{
    position:absolute;
    margin-left:100px;
    margin-top: 8px;
}

.navbar-brand{ 
    color: white;
    font-family: "Rubik";
}

.home-btn{
    background-color: #F2B84B !important;
    border-color: #f7ac22 !important;
    font-family: "Rubik" !important;
    
}

.logout-btn{
    background-color: #7C7EF2 !important;
    border-color: #696bf5 !important;
    font-family: "Rubik" !important;
    margin-left: 12px !important;
}