.sidebar-container {
  color: #ffffff;
  background: #7c7ef2;
  padding-left: 45px;
  padding-right: 48px;
  height: 100vh;
  overflow: scroll;
}

.arrow-icon {
  width: 43px;
  height: 41px;
  padding: 0;
  position: absolute;
}

.arrow-icon:hover {
  cursor: pointer;
  color: #babbf8;
}

.sidebarH1 {
  font-family: Solway;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -0.02em;
  color: #ffffff;
  margin-bottom: 10px;
  margin-top: 45px;
}

.sidebarP {
  color: #ffffff;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.02em;
  display: unset;
  padding-right: 40px;
}

.unlocked-badge {
  margin: 9.5px;
  height: 120px;
}

.badge-row {
  margin-top: 32px;
}
