.sidebar-container {
  color: #ffffff;
  background: #7c7ef2;
  padding-left: 15px;
  padding-right: 15px;
  overflow: scroll;
  height: 100vh;
}

.arrow-icon {
  width: 43px;
  height: 41px;
  margin-top: 20px;
}

.arrow-icon:hover {
  cursor: pointer;
  color: #babbf8;
}

.sidebarH1 {
  font-family: Solway;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 48px;
  letter-spacing: -0.02em;
  color: #ffffff;
  margin-bottom: 5px;
  margin-top: 20px;
}

.sidebar-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sidebarP {
  color: #ffffff;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.02em;
  display: unset;
}

.unlocked-badge {
  margin: 6px;
  max-height: 120px;
  max-width: 120px;
  display: inline-block;
}

.locked-badge {
  margin: 6px;
  max-height: 120px;
  max-width: 120px;
  filter: blur(7px);
  opacity: 0.4;
  display: inline-block;
}

.badge-col {
  padding-top: 20px;
  justify-content: center;
}

.reward-image-container {
  display: inline-block;
}

.reward_container {
  background-color: #f2b84b;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.reward_message {
  color: #ffffff;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: -0.02em;
}

.see_reward_btn {
  background-color: #7c7ef2;
  border-color: #5d5fef;
  font-family: "Rubik";
}

.see_reward_btn:hover {
  background-color: #5d5fef;
  border-color: #5d5fef;
}

.close_btn {
  background-color: #ff8887;
  border-color: #ff6665;
  font-family: "Rubik";
  margin-left: 10px;
}

.close_btn:hover {
  background-color: #ff6665;
  border-color: #ff6665;
}

.selector {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.pointer-cursor {
  cursor: pointer;
  color: #babbf8;
}

/* Medium screens */
@media all and (max-width: 1300px) {
}

/* Small screens */
@media all and (max-width: 500px) {
  .table-div {
    max-width: fit-content;
  }
}
