.sidebar-container {
  color: #ffffff;
  background: #7c7ef2;
  padding-left: 20px;
  padding-right: 10px;
  height: 100%;
}

.arrow-icon {
  width: 43px;
  height: 41px;
  /* background-color: rebeccapurple; */
}

.arrow-icon:hover {
  cursor: pointer;
  color: #babbf8;
}

.sidebarH1 {
  font-family: Solway;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 58px;
  letter-spacing: -0.02em;
  color: #ffffff;
  margin-bottom: 10px;
  margin-top: 10px;
  /* background-color: red; */
}

.sidebar-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sidebarP {
  color: #ffffff;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.02em;
  display: unset;
  padding-right: 40px;
}

.unlocked-badge {
  margin: 9.5px;
  height: 100px;
}

.badge-row {
  margin-top: 32px;
}
