.sidebar-container {
  color: #ffffff;
  background: #7c7ef2;
  padding-left: 20px;
  padding-right: 10px;
}

.arrow-icon {
  width: 43px;
  height: 41px;
  margin-top: 20px;
}

.arrow-icon:hover {
  cursor: pointer;
  color: #babbf8;
}

.sidebarH1 {
  font-family: Solway;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 58px;
  letter-spacing: -0.02em;
  color: #ffffff;
  margin-bottom: 10px;
  margin-top: 10px;
}

.sidebar-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sidebarP {
  color: #ffffff;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.02em;
  display: unset;
}

.locked-badge {
  margin: 6px;
  max-height: 120px;
}

.badge-col {
  padding-top: 20px;
}

/* Medium screens */
@media all and (max-width: 1300px) {
}

/* Small screens */
@media all and (max-width: 500px) {
  .table-div {
    max-width: fit-content;
  }
}
