.login-container{
    margin-top: 100px;
   
}

.form-container{
    width:450px;
}

p{
    font-size: 13px;
}

.upperform{
    margin-top: 20px;
}

.loginbtn{
    margin-top: 50px;
    width:425px;
    background-color: #7C7EF2;
    border-color: #7C7EF2;
 
}

.loginbtn:hover{
    background-color: #5D5FEF;
    border-color: #5D5FEF;
}