.form-container {
  width: 70%;
}

.form-control:not(active) {
  color: black !important;
}

h1 {
  margin-top: 10px;
  color: #4d4d4d;
  font-family: "Solway";
  font-weight: bold;
  cursor: default;
}

p {
  font-size: 13px;
  color: #4d4d4d;
  font-family: "Rubik";
  cursor: default;
}

.information-text {
  font-size: 12px;
}

.registerbtn,
.registerbtn:not(:disabled) {
  margin-top: 30px;
  width: 425px;
  background-color: #7c7ef2;
  border-color: #7c7ef2;
  font-family: "Rubik";
}

.registerbtn:hover {
  background-color: #5d5fef;
  border-color: #5d5fef;
}
