.login-container{
    margin-top: 100px;
}

.form-container{
    width:70%;
}

h1{
    margin-top: 10px;
    color: #4D4D4D;
    font-family: "Solway";
    font-weight: bold;
}

p{
    font-size: 13px;
    color: #4D4D4D;
    font-family: "Rubik";
}

.information-text{
    font-size:11px;
}

.registerbtn{
    margin-top: 10px;
    width:425px;
    background-color: #7C7EF2;
    border-color: #7C7EF2;
    font-family: "Rubik";
}

.registerbtn:hover{
    background-color: #5D5FEF;
    border-color: #5D5FEF;
}